apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp3-deployment
  labels: 
spec:
  replicas: 3
  selector:
    matchLabels:
      app: myapp3   ## should be same as myapp2 label in template metadata
  template:
    metadata:        # Dict
      name: myapp3-pod
      labels:         # Dict
        app: myapp3
    spec:
      containers:      # List
        - name: myapp3-container
          image: stacksimplify/kubenginx:3.0.0
          ports:
            - containerPort: 80      

---

apiVersion: v1  # string
kind: Service      # string
metadata:        # Dict
  name: myapp3-deploy-nodeport-service
  labels:         # Dict
    app: myapp3-nodeport

spec:
  type: NodePort
  selector:
    app: myapp3
  ports:
    - name: http
      port: 80  # service port
      targetPort: 80  # container port
      nodePort: 31233  # nodeport